Repository doctrine-extensions/DoctrineExtensions, pull requests merged in 2021-12, with the labels that each got.

#2357 Allow to use Loggable extension with attributes
  CHANGELOG.md
  doc/loggable.md
  doc/timestampable.md
  doc/translatable.md
  src/Loggable/Mapping/Driver/Attribute.php
  src/Mapping/Annotation/Loggable.php
  src/Mapping/Annotation/Versioned.php
  tests/Gedmo/Loggable/Fixture/Document/Article.php
  tests/Gedmo/Loggable/Fixture/Document/Author.php
  tests/Gedmo/Loggable/Fixture/Document/Comment.php
  tests/Gedmo/Loggable/Fixture/Document/Log/Comment.php
  tests/Gedmo/Loggable/Fixture/Document/RelatedArticle.php
  tests/Gedmo/Loggable/Fixture/Entity/Address.php
  tests/Gedmo/Loggable/Fixture/Entity/Article.php
  tests/Gedmo/Loggable/Fixture/Entity/Comment.php
  tests/Gedmo/Loggable/Fixture/Entity/Geo.php
  tests/Gedmo/Loggable/Fixture/Entity/GeoLocation.php
  tests/Gedmo/Loggable/Fixture/Entity/Log/Comment.php
  tests/Gedmo/Loggable/Fixture/Entity/RelatedArticle.php
  tests/Gedmo/Loggable/LoggableDocumentTest.php
  tests/Gedmo/Loggable/LoggableEntityTest.php
Labels: New Feature, Loggable

#2359 Adjust docs links
  doc/annotations.md
  doc/blameable.md
  doc/ip_traceable.md
  doc/laminas.md
  doc/loggable.md
  doc/mapping.md
  doc/reference_integrity.md
  doc/sluggable.md
  doc/softdeleteable.md
  doc/sortable.md
  doc/symfony2.md
  doc/symfony4.md
  doc/timestampable.md
  doc/transaction-safety.md
  doc/translatable.md
  doc/tree.md
  doc/upgrading/upgrade-v2.4-to-v3.0.md
  doc/uploadable.md
Labels: Documentation

#2360 Expand type info on tree annotations, deprecate unused `@Tree::$identifierMethod`
  src/Mapping/Annotation/Tree.php
  src/Mapping/Annotation/TreeClosure.php
  src/Mapping/Annotation/TreePath.php
Labels: Tree

#2349 Test with PHP 8.1 on CI
  .github/workflows/continuous-integration.yml
  tests/Gedmo/Translatable/TranslationQueryWalkerTest.php
  tests/Gedmo/Tree/ClosureTreeTest.php
  tests/Gedmo/Tree/NestedTreePositionTest.php
Labels: Needs Rebase

#2368 Fix using Loggable extension with only attributes
  CHANGELOG.md
  src/Loggable/Mapping/Driver/Attribute.php
Labels: Bug, Loggable

#2374 Allow SoftDeleteable be used as attribute with PHP >= 8
  CHANGELOG.md
  doc/softdeleteable.md
  src/Mapping/Annotation/SoftDeleteable.php
  src/SoftDeleteable/Mapping/Driver/Attribute.php
  tests/Gedmo/SoftDeleteable/Fixture/Document/User.php
  tests/Gedmo/SoftDeleteable/Fixture/Document/UserTimeAware.php
  tests/Gedmo/SoftDeleteable/Fixture/Entity/Address.php
  tests/Gedmo/SoftDeleteable/Fixture/Entity/Article.php
  tests/Gedmo/SoftDeleteable/Fixture/Entity/Child.php
  tests/Gedmo/SoftDeleteable/Fixture/Entity/Comment.php
  tests/Gedmo/SoftDeleteable/Fixture/Entity/MappedSuperclass.php
  tests/Gedmo/SoftDeleteable/Fixture/Entity/MegaPage.php
  tests/Gedmo/SoftDeleteable/Fixture/Entity/Module.php
  tests/Gedmo/SoftDeleteable/Fixture/Entity/OtherArticle.php
  tests/Gedmo/SoftDeleteable/Fixture/Entity/OtherComment.php
  tests/Gedmo/SoftDeleteable/Fixture/Entity/Page.php
  tests/Gedmo/SoftDeleteable/Fixture/Entity/Person.php
  tests/Gedmo/SoftDeleteable/Fixture/Entity/User.php
  tests/Gedmo/SoftDeleteable/Fixture/Entity/UserNoHardDelete.php
  tests/Gedmo/SoftDeleteable/HardRelationTest.php
  tests/Gedmo/SoftDeleteable/SoftDeletableDocumentTraitTest.php
  tests/Gedmo/SoftDeleteable/SoftDeletableEntityTraitTest.php
  tests/Gedmo/SoftDeleteable/SoftDeleteableDocumentTest.php
  tests/Gedmo/SoftDeleteable/SoftDeleteableEntityTest.php
  tests/Gedmo/Tool/BaseTestCaseMongoODM.php
  tests/Gedmo/Tool/BaseTestCaseORM.php
Labels: SoftDeleteable

#2375 Support Blameable as attribute
  CHANGELOG.md
  doc/blameable.md
  src/Blameable/Mapping/Driver/Attribute.php
  src/Blameable/Traits/BlameableDocument.php
  src/Blameable/Traits/BlameableEntity.php
  src/Mapping/Annotation/Blameable.php
  tests/Gedmo/Blameable/BlameableDocumentTest.php
  tests/Gedmo/Blameable/BlameableTest.php
  tests/Gedmo/Blameable/ChangeTest.php
  tests/Gedmo/Blameable/Fixture/Document/Article.php
  tests/Gedmo/Blameable/Fixture/Document/Type.php
  tests/Gedmo/Blameable/Fixture/Document/User.php
  tests/Gedmo/Blameable/Fixture/Entity/Article.php
  tests/Gedmo/Blameable/Fixture/Entity/Comment.php
  tests/Gedmo/Blameable/Fixture/Entity/MappedSupperClass.php
  tests/Gedmo/Blameable/Fixture/Entity/SupperClassExtension.php
  tests/Gedmo/Blameable/Fixture/Entity/TitledArticle.php
  tests/Gedmo/Blameable/Fixture/Entity/Type.php
  tests/Gedmo/Blameable/Fixture/Entity/UsingTrait.php
  tests/Gedmo/Blameable/Fixture/Entity/WithoutInterface.php
  tests/Gedmo/Blameable/NoInterfaceTest.php
  tests/Gedmo/Blameable/NoUserTest.php
  tests/Gedmo/Blameable/ProtectedPropertySupperclassTest.php
  tests/Gedmo/Blameable/TraitUsageTest.php
Labels: Blameable

#2377 Allow to use IpTraceable as attribute
  CHANGELOG.md
  doc/ip_traceable.md
  src/IpTraceable/Mapping/Driver/Attribute.php
  src/Mapping/Annotation/IpTraceable.php
  tests/Gedmo/IpTraceable/ChangeTest.php
  tests/Gedmo/IpTraceable/Fixture/Article.php
  tests/Gedmo/IpTraceable/Fixture/Comment.php
  tests/Gedmo/IpTraceable/Fixture/Document/Article.php
  tests/Gedmo/IpTraceable/Fixture/Document/Type.php
  tests/Gedmo/IpTraceable/Fixture/MappedSupperClass.php
  tests/Gedmo/IpTraceable/Fixture/SupperClassExtension.php
  tests/Gedmo/IpTraceable/Fixture/TitledArticle.php
  tests/Gedmo/IpTraceable/Fixture/Type.php
  tests/Gedmo/IpTraceable/Fixture/UsingTrait.php
  tests/Gedmo/IpTraceable/Fixture/WithoutInterface.php
  tests/Gedmo/IpTraceable/IpTraceableDocumentTest.php
  tests/Gedmo/IpTraceable/IpTraceableTest.php
  tests/Gedmo/IpTraceable/NoInterfaceTest.php
  tests/Gedmo/IpTraceable/TraitUsageTest.php
Labels: IpTraceable

#2372 Fix type handling for the tracked field values configured in the timestampable field
  CHANGELOG.md
  src/AbstractTrackingListener.php
  tests/Gedmo/Timestampable/Fixture/Article.php
  tests/Gedmo/Timestampable/TimestampableTest.php
Labels: Bug, Timestampable

#2382 Uploadable: add attributes to tests
  tests/Gedmo/Uploadable/FileInfo/FileInfoArrayTest.php
  tests/Gedmo/Uploadable/FilenameGenerator/FilenameGeneratorAlphanumericTest.php
  tests/Gedmo/Uploadable/Fixture/Entity/Article.php
  tests/Gedmo/Uploadable/Fixture/Entity/File.php
  tests/Gedmo/Uploadable/Fixture/Entity/FileAppendNumber.php
  tests/Gedmo/Uploadable/Fixture/Entity/FileAppendNumberRelative.php
  tests/Gedmo/Uploadable/Fixture/Entity/FileWithAllowedTypes.php
  tests/Gedmo/Uploadable/Fixture/Entity/FileWithAlphanumericName.php
  tests/Gedmo/Uploadable/Fixture/Entity/FileWithCustomFilenameGenerator.php
  tests/Gedmo/Uploadable/Fixture/Entity/FileWithDisallowedTypes.php
  tests/Gedmo/Uploadable/Fixture/Entity/FileWithMaxSize.php
  tests/Gedmo/Uploadable/Fixture/Entity/FileWithSha1Name.php
  tests/Gedmo/Uploadable/Fixture/Entity/FileWithoutPath.php
  tests/Gedmo/Uploadable/Fixture/Entity/Image.php
  tests/Gedmo/Uploadable/Mapping/ValidatorTest.php
  tests/Gedmo/Uploadable/Stub/MimeTypeGuesserStub.php
  tests/Gedmo/Uploadable/Stub/UploadableListenerStub.php
  tests/Gedmo/Uploadable/UploadableEntityTest.php
Labels: Uploadable

#2386 [Uploadable] Allow to use Uploadable as attribute
  CHANGELOG.md
  doc/uploadable.md
  src/Mapping/Annotation/Uploadable.php
  src/Mapping/Annotation/UploadableFileMimeType.php
  src/Mapping/Annotation/UploadableFileName.php
  src/Mapping/Annotation/UploadableFilePath.php
  src/Mapping/Annotation/UploadableFileSize.php
  src/Uploadable/Mapping/Driver/Attribute.php
  tests/Gedmo/Uploadable/Fixture/Entity/File.php
  tests/Gedmo/Uploadable/Fixture/Entity/FileAppendNumber.php
  tests/Gedmo/Uploadable/Fixture/Entity/FileAppendNumberRelative.php
  tests/Gedmo/Uploadable/Fixture/Entity/FileWithAllowedTypes.php
  tests/Gedmo/Uploadable/Fixture/Entity/FileWithAlphanumericName.php
  tests/Gedmo/Uploadable/Fixture/Entity/FileWithCustomFilenameGenerator.php
  tests/Gedmo/Uploadable/Fixture/Entity/FileWithDisallowedTypes.php
  tests/Gedmo/Uploadable/Fixture/Entity/FileWithMaxSize.php
  tests/Gedmo/Uploadable/Fixture/Entity/FileWithSha1Name.php
  tests/Gedmo/Uploadable/Fixture/Entity/FileWithoutPath.php
  tests/Gedmo/Uploadable/Fixture/Entity/Image.php
Labels: New Feature, Uploadable

#2388 [Tree] Allow to use it with attributes
  CHANGELOG.md
  doc/tree.md
  src/Mapping/Annotation/Tree.php
  src/Mapping/Annotation/TreeClosure.php
  src/Mapping/Annotation/TreeLeft.php
  src/Mapping/Annotation/TreeLevel.php
  src/Mapping/Annotation/TreeLockTime.php
  src/Mapping/Annotation/TreeParent.php
  src/Mapping/Annotation/TreePath.php
  src/Mapping/Annotation/TreePathHash.php
  src/Mapping/Annotation/TreePathSource.php
  src/Mapping/Annotation/TreeRight.php
  src/Mapping/Annotation/TreeRoot.php
  src/Tree/Mapping/Driver/Attribute.php
  src/Tree/Traits/NestedSetEntity.php
  src/Tree/Traits/NestedSetEntityUuid.php
  tests/Gedmo/Sluggable/Fixture/Handler/People/Occupation.php
  tests/Gedmo/Sluggable/Fixture/Handler/TreeSlug.php
  tests/Gedmo/Sluggable/Fixture/Handler/TreeSlugPrefixSuffix.php
  tests/Gedmo/Sluggable/Fixture/Issue1240/Article.php
  tests/Gedmo/Sluggable/Fixture/PrefixWithTreeHandler.php
  tests/Gedmo/Sluggable/Fixture/SuffixWithTreeHandler.php
  tests/Gedmo/Tree/Fixture/ANode.php
  tests/Gedmo/Tree/Fixture/BaseNode.php
  tests/Gedmo/Tree/Fixture/BehavioralCategory.php
  tests/Gedmo/Tree/Fixture/Category.php
  tests/Gedmo/Tree/Fixture/CategoryUuid.php
  tests/Gedmo/Tree/Fixture/Closure/Category.php
  tests/Gedmo/Tree/Fixture/Closure/CategoryWithoutLevel.php
  tests/Gedmo/Tree/Fixture/Closure/Person.php
  tests/Gedmo/Tree/Fixture/Document/Article.php
  tests/Gedmo/Tree/Fixture/Document/Category.php
  tests/Gedmo/Tree/Fixture/ForeignRootCategory.php
  tests/Gedmo/Tree/Fixture/Genealogy/Person.php
  tests/Gedmo/Tree/Fixture/MPCategory.php
  tests/Gedmo/Tree/Fixture/MPCategoryWithRootAssociation.php
  tests/Gedmo/Tree/Fixture/MPCategoryWithTrimmedSeparator.php
  tests/Gedmo/Tree/Fixture/MPFeaturesCategory.php
  tests/Gedmo/Tree/Fixture/Node.php
  tests/Gedmo/Tree/Fixture/Role.php
  tests/Gedmo/Tree/Fixture/RootAssociationCategory.php
  tests/Gedmo/Tree/Fixture/RootCategory.php
  tests/Gedmo/Tree/Fixture/Transport/Car.php
Labels: New Feature, Tree

#2390 Make users add mapping to tree closure entities
  CHANGELOG.md
  doc/tree.md
  src/Tree/Strategy/ORM/Closure.php
  tests/Gedmo/Mapping/Driver/Yaml/Gedmo.Tests.Mapping.Fixture.Yaml.ClosureCategory.dcm.yml
  tests/Gedmo/Mapping/Fixture/ClosureTreeClosure.php
  tests/Gedmo/Mapping/TreeMappingTest.php
  tests/Gedmo/Tree/Fixture/Closure/CategoryClosure.php
  tests/Gedmo/Tree/Fixture/Closure/CategoryClosureWithoutMapping.php
  tests/Gedmo/Tree/Fixture/Closure/CategoryWithoutLevelClosure.php
  tests/Gedmo/Tree/Fixture/Closure/PersonClosure.php
Labels: Tree

#2391 Clean up docs
  README.md
  doc/annotations.md
  doc/blameable.md
  doc/ip_traceable.md
  doc/loggable.md
  doc/mapping.md
  doc/reference_integrity.md
  doc/sluggable.md
  doc/softdeleteable.md
  doc/sortable.md
  doc/symfony2.md
  doc/symfony4.md
  doc/timestampable.md
  doc/transaction-safety.md
  doc/translatable.md
  doc/tree.md
Labels: Documentation

#2248 Convert DateTime to PHP value using Doctrine converter
  CHANGELOG.md
  composer.json
  src/SoftDeleteable/Mapping/Event/Adapter/ORM.php
  src/Timestampable/Mapping/Event/Adapter/ORM.php
  tests/Gedmo/SoftDeleteable/CarbonTest.php
  tests/Gedmo/Timestampable/CarbonTest.php
  tests/Gedmo/Timestampable/Fixture/ArticleCarbon.php
  tests/Gedmo/Timestampable/Fixture/CommentCarbon.php
Labels: New Feature, Timestampable, SoftDeleteable

#2373 Allow to set a cache to store configuration
  CHANGELOG.md
  composer.json
  example/em.php
  src/Mapping/ExtensionMetadataFactory.php
  src/Mapping/MappedEventSubscriber.php
  tests/Gedmo/Mapping/LoggableORMMappingTest.php
  tests/Gedmo/Mapping/ORMMappingTestCase.php
  tests/Gedmo/Mapping/SluggableMappingTest.php
  tests/Gedmo/Mapping/TimestampableMappingTest.php
  tests/Gedmo/Mapping/TranslatableMappingTest.php
  tests/Gedmo/Mapping/TreeMappingTest.php
  tests/Gedmo/Sluggable/CustomTransliteratorTest.php
  tests/Gedmo/Sluggable/Fixture/Issue939/SluggableListener.php
Labels: Bug
