Repository doctrine-extensions/DoctrineExtensions, pull requests merged in 2022-07, with the labels that each got.

#2485 Get cache from MetadataFactory
  CHANGELOG.md
  phpstan-baseline.neon
  src/Mapping/MappedEventSubscriber.php
  src/Tree/Strategy/ORM/Closure.php
  tests/Gedmo/Mapping/MappingEventSubscriberTest.php
Labels: Bug

#2438 [Sluggable] Add datetime_immutable as valid type
  CHANGELOG.md
  src/Sluggable/Mapping/Driver/Annotation.php
  tests/Gedmo/Sluggable/Fixture/DateTimeTypes/ArticleDate.php
  tests/Gedmo/Sluggable/Fixture/DateTimeTypes/ArticleDateImmutable.php
  tests/Gedmo/Sluggable/Fixture/DateTimeTypes/ArticleDateTime.php
  tests/Gedmo/Sluggable/Fixture/DateTimeTypes/ArticleDateTimeImmutable.php
  tests/Gedmo/Sluggable/Fixture/DateTimeTypes/ArticleDateTimeTz.php
  tests/Gedmo/Sluggable/Fixture/DateTimeTypes/ArticleDateTimeTzImmutable.php
  tests/Gedmo/Sluggable/SluggableDateTimeTypesTest.php
Labels: New Feature, Sluggable

#2490 Update changelog structure
  CHANGELOG.md
  CONTRIBUTING.md
Labels: Documentation

#2493 [Tree] [NestedSet] [ClosureTree] Allow sorting children by a ManyToOne relation
  CHANGELOG.md
  src/Tree/Entity/Repository/ClosureTreeRepository.php
  src/Tree/Entity/Repository/NestedTreeRepository.php
  tests/Gedmo/Tree/ClosureTreeRepositoryTest.php
  tests/Gedmo/Tree/RepositoryTest.php
Labels: Bug, Tree

#2495 Fix passing `null` to `abs()` function at `Nested::shiftRangeRL()`
  CHANGELOG.md
  src/Tree/Strategy/ORM/Nested.php
Labels: Bug, Tree
