Repository doctrine-extensions/DoctrineExtensions, pull requests merged in 2022-06, with the labels that each got.

#2445 [Tree] [NestedSet] Added option to reorder only direct children in reorder() method
  CHANGELOG.md
  src/Tree/Entity/Repository/NestedTreeRepository.php
  tests/Gedmo/Tree/NestedTreeRootRepositoryTest.php
Labels: New Feature, Tree

#2446 [Tree] [NestedSet] [ClosureTree] childrenQueryBuilder() to allow specifying sort order separately for each field
  CHANGELOG.md
  src/Tree/Entity/Repository/AbstractTreeRepository.php
  src/Tree/Entity/Repository/ClosureTreeRepository.php
  src/Tree/Entity/Repository/NestedTreeRepository.php
  src/Tree/RepositoryInterface.php
  tests/Gedmo/Tree/ClosureTreeRepositoryTest.php
  tests/Gedmo/Tree/RepositoryTest.php
Labels: New Feature, Tree

#2462 [Sortable] Resolve Column Type when fetching Max Position from Database
  CHANGELOG.md
  src/Sortable/Mapping/Event/Adapter/ORM.php
  tests/Gedmo/Sortable/Fixture/ItemWithDateColumn.php
  tests/Gedmo/Sortable/SortableGroupTest.php
Labels: Sortable

#2476 [Sluggable] Cast slug to string before passing it as argument 2 to `preg_match()`
  CHANGELOG.md
  src/Sluggable/Handler/InversedRelativeSlugHandler.php
  src/Sluggable/Handler/TreeSlugHandler.php
Labels: Bug, Sluggable
