Repository doctrine-extensions/DoctrineExtensions, pull requests merged in 2022-10, with the labels that each got.

#2513 Add a sentence and an example for custom log class
  doc/loggable.md
Labels: Documentation, Loggable

#2439 [Sortable] Fix duplicated position when position for more than one object is changed manually
  CHANGELOG.md
  phpstan-baseline.neon
  src/Sortable/SortableListener.php
  tests/Gedmo/Sortable/SortableTest.php
Labels: Bug, Sortable

#2509 blameable.md - wrong join column name on createdBy
  doc/blameable.md
Labels: Documentation, Blameable, Needs Rebase

#2522 fix on documentation about slug attribute and unique property
  doc/sluggable.md
Labels: Documentation, Sluggable

#2525 Remove broken YAML configuration example
  doc/softdeleteable.md
Labels: Documentation, SoftDeleteable

#2518 [Tree][NestedSet] Fix TreeRoot without rootIdentifierMethod when calling getNextSiblings
  CHANGELOG.md
  src/Tree/Entity/Repository/NestedTreeRepository.php
  tests/Gedmo/Tree/Fixture/Issue2517/Category.php
  tests/Gedmo/Tree/Issue/Issue2517Test.php
Labels: Bug, Tree
