Repository doctrine-extensions/DoctrineExtensions, pull requests merged in 2022-12, with the labels that each got.

#2542 [Sortable] Fix return value check of Comparable interface (#2541)
  CHANGELOG.md
  phpstan-baseline.neon
  src/Sortable/SortableListener.php
Labels: Bug, Sortable

#2546 Add `Nested::ALLOWED_NODE_POSITIONS` constant in order to expose the available node positions
  CHANGELOG.md
  src/Tree/Strategy/ORM/Nested.php
Labels: Tree

#2258 Deprecate the annotation reader being allowed to be any object
  CHANGELOG.md
  composer.json
  phpstan-baseline.neon
  src/Mapping/Driver/AbstractAnnotationDriver.php
  src/Mapping/Driver/AnnotationDriverInterface.php
  src/Mapping/ExtensionMetadataFactory.php
  src/Mapping/MappedEventSubscriber.php
Labels: New Feature, Documentation, Still Relevant

#2561 Allow `doctrine/collections` 2 and `doctrine/event-manager` 2
  .github/workflows/continuous-integration.yml
  CHANGELOG.md
  composer.json
Labels: New Feature
