Repository doctrine-extensions/DoctrineExtensions, pull requests merged in 2022-01, with the labels that each got.

#2395 Fix ReferenceIntegrity using annotations
  src/Mapping/Annotation/ReferenceIntegrity.php
  tests/Gedmo/ReferenceIntegrity/ReferenceIntegrityDocumentTest.php
Labels: ReferenceIntegrity

#2399 Add index for translation search
  CHANGELOG.md
  src/Translatable/Entity/Translation.php
Labels: New Feature, Translatable

#2400 Replace kernel.root_dir by kernel.project_dir
  doc/symfony4.md
Labels: Documentation

#2393 Add documentation to register an event subscriber for mongodb odm bundle
  doc/symfony4.md
Labels: Documentation

#2403 Remove references to Yaml driver
  README.md
  doc/annotations.md
  doc/mapping.md
  doc/sluggable.md
  doc/softdeleteable.md
  doc/sortable.md
  doc/timestampable.md
  doc/translatable.md
  doc/tree.md
Labels: Documentation

#2404 Fixed accessing to a non-existing key
  CHANGELOG.md
  src/Translatable/Document/Repository/TranslationRepository.php
  tests/Gedmo/Translatable/TranslatableDocumentTest.php
Labels: Bug, Translatable

#2414 [Uploadable] Fix `FileInfoInterface::getSize()` return type declaration
  CHANGELOG.md
  src/Uploadable/FileInfo/FileInfoInterface.php
  src/Uploadable/UploadableListener.php
  tests/Gedmo/Uploadable/Fixture/Entity/FileWithMaxSize.php
  tests/Gedmo/Uploadable/Fixture/Entity/ImageWithTypedProperties.php
  tests/Gedmo/Uploadable/UploadableEntitySizeTypeTest.php
  tests/Gedmo/Uploadable/UploadableEntityTest.php
  tests/data/test_for_typed_properties.txt
Labels: Bug, Uploadable

#2415 Tree: Fix setting tree root when parent is null
  CHANGELOG.md
  doc/tree.md
  src/Tree/Strategy/ORM/Nested.php
  tests/Gedmo/Tree/Fixture/Issue2408/Category.php
  tests/Gedmo/Tree/Issue/Issue2408Test.php
Labels: Bug, Tree

#2416 Closure: mirror Doctrine cache key
  CHANGELOG.md
  composer.json
  src/Tree/Strategy/ORM/Closure.php
  tests/Gedmo/Mapping/TreeMappingTest.php
Labels: Bug, Tree
