Repository doctrine-extensions/DoctrineExtensions, pull requests merged in 2023-02, with the labels that each got.

#2579 Remove @final annotation from listener class
  src/Loggable/LoggableListener.php
Labels: Loggable

#2572 Remove version references in "Doctrine 2" occurrences
  composer.json
  doc/blameable.md
  doc/ip_traceable.md
  doc/loggable.md
  doc/mapping.md
  doc/reference_integrity.md
  doc/references.md
  doc/sluggable.md
  doc/softdeleteable.md
  doc/sortable.md
  doc/symfony4.md
  doc/timestampable.md
  doc/translatable.md
  doc/tree.md
  doc/uploadable.md
Labels: Documentation

#2587 Use `markdown` hint for snippets in `CHANGELOG.md`
  CHANGELOG.md
Labels: Documentation

#2589 [Sluggable] Document the callables used for transliteration and urlization
  src/Sluggable/SluggableListener.php
  tests/Gedmo/Sluggable/Fixture/Issue939/SluggableListener.php
Labels: Sluggable
