Repository doctrine-extensions/DoctrineExtensions, pull requests merged in 2023-03, with the labels that each got.

#2447 [Tree] [NestedSet] New additions
  CHANGELOG.md
  doc/tree.md
  src/Mapping/Annotation/TreeLevel.php
  src/Tree/Entity/Repository/NestedTreeRepository.php
  src/Tree/Mapping/Driver/Annotation.php
  src/Tree/Strategy/ORM/Nested.php
  src/Tree/TreeListener.php
  tests/Gedmo/Tree/Fixture/RootCategory.php
  tests/Gedmo/Tree/NestedTreePositionTest.php
  tests/Gedmo/Tree/NestedTreeRootAssociationTest.php
  tests/Gedmo/Tree/NestedTreeRootRepositoryTest.php
  tests/Gedmo/Tree/NestedTreeRootTest.php
  tests/Gedmo/Tree/RepositoryTest.php
Labels: New Feature, Tree

#2547 Tree: Add `setSibling()` and `getSibling()` methods in the `Node` interface
  CHANGELOG.md
  src/Tree/Entity/Repository/NestedTreeRepository.php
  src/Tree/Node.php
  src/Tree/Strategy/ORM/Nested.php
  tests/Gedmo/Sluggable/Fixture/Handler/TreeSlug.php
  tests/Gedmo/Tree/Fixture/Category.php
  tests/Gedmo/Tree/Fixture/CategoryUuid.php
  tests/Gedmo/Tree/Fixture/RootCategory.php
Labels: Tree

#2606 Added IpTraceable to list of service
  doc/symfony4.md
Labels: Documentation, IpTraceable

#2607 [Loggable] Add some missing generic annotations
  doc/loggable.md
  phpstan-baseline.neon
  src/Loggable/Document/LogEntry.php
  src/Loggable/Document/MappedSuperclass/AbstractLogEntry.php
  src/Loggable/Document/Repository/LogEntryRepository.php
  src/Loggable/Entity/LogEntry.php
  src/Loggable/Entity/MappedSuperclass/AbstractLogEntry.php
  src/Loggable/Entity/Repository/LogEntryRepository.php
  src/Loggable/LogEntryInterface.php
  src/Loggable/LoggableListener.php
  tests/Gedmo/Loggable/Fixture/Document/Log/Comment.php
  tests/Gedmo/Loggable/Fixture/Entity/Log/Comment.php
  tests/Gedmo/Loggable/LoggableEntityTest.php
  tests/Gedmo/Mapping/Xml/LoggableMappingTest.php
  tests/Gedmo/Mapping/Yaml/LoggableMappingTest.php
Labels: Loggable
