Repository doctrine-extensions/DoctrineExtensions, pull requests merged in 2023-06, with the labels that each got.

#2630 Honor return type for `__set()`
  CHANGELOG.md
  src/Translator/TranslationProxy.php
Labels: Translatable

#2623 feat: fix deprecation for AbstractPlatform->getIsNullExpression()
  src/SoftDeleteable/Filter/SoftDeleteableFilter.php
Labels: SoftDeleteable

#2612 [Tree] `recover()` supports multiple fields in sortByField and sortDirection
  CHANGELOG.md
  doc/tree.md
  src/Tree/Entity/Repository/AbstractTreeRepository.php
  src/Tree/Entity/Repository/ClosureTreeRepository.php
  src/Tree/Entity/Repository/NestedTreeRepository.php
  tests/Gedmo/Tree/NestedTreeRootRepositoryTest.php
Labels: New Feature, Tree

#2633 Simplify and improve consistency in methods that provide current dates
  src/SoftDeleteable/Mapping/Event/Adapter/ODM.php
  src/SoftDeleteable/Mapping/Event/Adapter/ORM.php
  src/Timestampable/Mapping/Event/Adapter/ODM.php
  src/Timestampable/Mapping/Event/Adapter/ORM.php
Labels: Timestampable, SoftDeleteable

#2531 Make TimestampableEntity getter type hints nullable
  src/Timestampable/Traits/Timestampable.php
  src/Timestampable/Traits/TimestampableDocument.php
  src/Timestampable/Traits/TimestampableEntity.php
Labels: Timestampable
