Repository doctrine-extensions/DoctrineExtensions, pull requests merged in 2024-11, with the labels that each got.

#2894 Rewrite the loggable extension documentation
  doc/loggable.md
Labels: Documentation

#2837 Deprecate annotation-specific properties in the Sluggable extension annotation/attribute classes
  CHANGELOG.md
  doc/attributes.md
  src/Mapping/Annotation/Slug.php
  src/Mapping/Annotation/SlugHandlerOption.php
  src/Sluggable/Mapping/Driver/Attribute.php
Labels: Sluggable

#2897 [Tree] Allow uuid as path source in materialized path strategy
  CHANGELOG.md
  src/Tree/Mapping/Validator.php
  tests/Gedmo/Tree/Fixture/MPCategoryUuid.php
  tests/Gedmo/Tree/MaterializedPathUuidORMTest.php
Labels: Bug, Tree
