Repository doctrine-extensions/DoctrineExtensions, pull requests merged in 2025-03, with the labels that each got.

#2928 Add an IP address provider for extensions referencing IP addresses
  CHANGELOG.md
  doc/ip_traceable.md
  doc/utils/ip-address-provider.md
  src/IpTraceable/IpTraceableListener.php
  src/Tool/IpAddressProviderInterface.php
  tests/Gedmo/IpTraceable/IpTraceableTest.php
  tests/Gedmo/TestIpAddressProvider.php
Labels: New Feature, IpTraceable

#2930 Resolved a bug where a soft-deleted object isn't remove from the ObjectManager
  CHANGELOG.md
  src/SoftDeleteable/SoftDeleteableListener.php
  tests/Gedmo/Blameable/Fixture/Entity/Article.php
  tests/Gedmo/SoftDeleteable/Fixture/Entity/Article.php
  tests/Gedmo/SoftDeleteable/SoftDeleteableEntityTest.php
Labels: Bug, SoftDeleteable, Needs Rebase

#2934 Address deprecation of the ORM's `ClassMetadata::$reflFields` property
  src/Tree/Strategy/ORM/Closure.php
  src/Tree/Strategy/ORM/Nested.php
Labels: Tree
