Repository doctrine-extensions/DoctrineExtensions, pull requests merged in 2025-09, with the labels that each got.

#2969 Rewrite the soft deleteable extension documentation
  README.md
  doc/annotations.md
  doc/attributes.md
  doc/frameworks/laminas.md
  doc/frameworks/symfony.md
  doc/soft-deleteable.md
  doc/softdeleteable.md
Labels: Documentation, SoftDeleteable

#2952 Use public property instead of deprecated array access
  src/Loggable/Mapping/Driver/Attribute.php
  src/Sluggable/Mapping/Driver/Attribute.php
  src/Translatable/Mapping/Driver/Attribute.php
  src/Translatable/Mapping/Driver/Xml.php
Labels: Translatable, Sluggable, Loggable

#2960 [Translateable] Document the usage of refresh query hint if cache is used
  doc/translatable.md
Labels: Documentation, Translatable

#2986 Translatable: Optimize indexes for better performance
  CHANGELOG.md
  src/Translatable/Document/Translation.php
  src/Translatable/Entity/Translation.php
Labels: Translatable
